.car {
    display: flex;
    justify-content: center;
}

.day {
    display: none;
}

.buttons {
    text-align: center;
}

.startcar {
    display: none;
}

.start {
    background-color: blue;
    color: aliceblue;
    width: 140px;
    height: 50px;
    margin-top: 60px;
}

.start:hover {
    width: 160px;
    height: 55px;
}